{%load static%}

<!DOCTYPE html>

<html lang="en">

  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="theme-color" content="#007bff" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <script src="https://kit.fontawesome.com/1f91ac7656.js" crossorigin="anonymous"></script>

    <title>Crickvision - PunchBiz</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://crickvision.github.io/d/css/bootstrap.css">
    <link rel="stylesheet" href="https://crickvision.github.io/d/css/responsive.css">
    <link rel="stylesheet" href="https://crickvision.github.io/d/css/style.css">
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Gantari:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

  </head>

  <body>

    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-sm custom_nav-container ">
            <a class="navbar-brand" href="">
              <img src="https://crickvision.github.io/d/i/logo.png" alt="image"
                style="height: 80px; width: fit-content;">

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa-solid fa-bars fa-xl" style="color: #007bff;"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signin">Login </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class=" slider_section ">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ">
              <div class="detail_box">
                <h1>
                  <span class="hixx">
                    elevate <br>
                  </span>
                  <span class="hixx">
                    your game<br>
                  </span>
                  <span class="hixx">
                    with<br>
                  </span>
                  <span class="hixx"
                    style="background-image:linear-gradient(45deg,#c38bff,#6b008b);color: transparent;background-clip: text;">
                    AI<i style="font-size: 0.8em;color: rgb(132, 0, 172); margin-left: 4px;"
                      class="fa-solid fa-wand-magic-sparkles"></i>
                  </span>
                </h1>
                <p class="hixx">
                  "CrickVision, a cutting-edge cricket analytics tool, utilizes computer vision and machine learning to
                  provide in-depth insights on player actions, shots, and match dynamics. Coaches, players, and fans
                  benefit from customizable reports, empowering informed decisions and staying ahead in the game."
                </p>
                <a href="/signup" class="hixx">
                  Signup
                </a>
                <a href="/signin" class="hixx" style="color: #007bff;background-color: transparent;padding-left: 10px;">
                  or Login
                </a>
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-1" style="width: 400px;">
              <img src="https://crickvision.github.io/d/i/Cricket.svg" style="width: 400px;">


            </div>
          </div>
        </div>
      </section>
      <!-- end slider section -->
    </div>


    <!-- footer section -->
    <footer class="container-fluid footer_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-13 mx-auto">
            <div style="display: flex; justify-content: space-between;">
              <div>
                <p>
                  &copy; 2024 All Rights Reserved By
                  <a href="#">PunchBiz Co.</a>
                </p>
              </div>

              <div>
                <p>Made with <i class="fa-regular fa-s fa-heart" style="margin-bottom:-1px;color: #f00;"></i> by <a
                    href="https://punchbiz.co/" target="_blank">Cricvision team @PunchBiz</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </footer>
    <!-- footer section -->


    <script src="https://crickvision.github.io/d/js/jquery-3.4.1.min.jsr"></script>
    <script src="https://crickvision.github.io/d/js/bootstrap.js"></script>
    <script src="https://crickvision.github.io/d/js/scroll.js"></script>


  </body>

</html>